body{
    text-align: center;
    background-color: rgba(240,240,250,0.85);
}

h1{
    font-family: 'Lucida Sans';
    color: rgb(29, 108, 122)
    }

div{
    margin:auto;
    vertical-align: middle; 
    border-radius: 5px;;   
}

.message {
    min-height: 35px;
    font-family: 'Lucida Sans';
    color: rgba(233, 233, 233, 0.849);
    margin:0;
}

.in-image{
    width:500px;
    height: 400px;
    margin: 10px;
    border: 3px solid black;
    
}

.board{
    background-color: rgb(29, 108, 122);
    width: 500px;
    height:700px;
    padding:70px;
}


.quests{
    padding: 20px;
    margin:20px;
}


.btn{
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Lucida Sans';
    color:cadetblue;
    font-size: 17px;
    padding: 10px;
    width:100%;
    margin:5px;
}

button:hover{
    background-color: rgb(24, 78, 56);

}
.reset-btn{
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'Lucida Sans';
    color:cadetblue;
    background-color: rgb(220, 248, 164);
    font-size: 17px;
    padding: 7px;
    width:35%;
    margin:5px;
}